In [3]:
import pandas as pd

In [5]:
data = {
    'Name': ['Sakshi', 'Aman', 'Riya', 'Tina', 'John', 'Rohan'],
    'Math': [89, 67, 90, 45, 76, 82],
    'Science': [94, 60, 88, 70, 66, 79],
    'English': [85, 77, 92, 58, 73, 81],
    'Attendance (%)': [92, 85, 88, 74, 80, 95]
}

In [25]:
df = pd.DataFrame(data)
print(df)

     Name  Math  Science  English  Attendance (%)
0  Sakshi    89       94       85              92
1    Aman    67       60       77              85
2    Riya    90       88       92              88
3    Tina    45       70       58              74
4    John    76       66       73              80
5   Rohan    82       79       81              95

In [33]:
df['Total'] = df[['Math', 'Science', 'English']].sum(axis=1)
df['Average'] = df['Total'] / 3

In [35]:
df['Grade'] = pd.cut(df['Average'],
                     bins=[0, 60, 75, 90, 100],
                     labels=['Poor', 'Average', 'Good', 'Excellent'])

In [37]:
high_attendance = df[df['Attendance (%)'] > 85]
print(high_attendance)

     Name  Math  Science  English  Attendance (%)  Total    Average Grade
0  Sakshi    89       94       85              92    268  89.333333  Good
2    Riya    90       88       92              88    270  90.000000  Good
5   Rohan    82       79       81              95    242  80.666667  Good

In [39]:
top_3 = df.sort_values(by='Average', ascending=False).head(3)
print(top_3)

     Name  Math  Science  English  Attendance (%)  Total    Average Grade
2    Riya    90       88       92              88    270  90.000000  Good
0  Sakshi    89       94       85              92    268  89.333333  Good
5   Rohan    82       79       81              95    242  80.666667  Good

In [41]:
summary = df.describe()

In [43]:
print("üìä Full DataFrame:\n", df)
print("\nüéØ High Attendance (>85%):\n", high_attendance)
print("\nüèÜ Top 3 Students:\n", top_3[['Name', 'Average', 'Grade']])
print("\nüìà Summary Statistics:\n", summary)

üìä Full DataFrame:
      Name  Math  Science  English  Attendance (%)  Total    Average    Grade
0  Sakshi    89       94       85              92    268  89.333333     Good
1    Aman    67       60       77              85    204  68.000000  Average
2    Riya    90       88       92              88    270  90.000000     Good
3    Tina    45       70       58              74    173  57.666667     Poor
4    John    76       66       73              80    215  71.666667  Average
5   Rohan    82       79       81              95    242  80.666667     Good

üéØ High Attendance (>85%):
      Name  Math  Science  English  Attendance (%)  Total    Average Grade
0  Sakshi    89       94       85              92    268  89.333333  Good
2    Riya    90       88       92              88    270  90.000000  Good
5   Rohan    82       79       81              95    242  80.666667  Good

üèÜ Top 3 Students:
      Name    Average Grade
2    Riya  90.000000  Good
0  Sakshi  89.333333  Good
5   Rohan  80.666667  Good

üìà Summary Statistics:
             Math    Science    English  Attendance (%)       Total    Average
count   6.000000   6.000000   6.000000        6.000000    6.000000   6.000000
mean   74.833333  76.166667  77.666667       85.666667  228.666667  76.222222
std    16.940091  13.182059  11.656186        7.763161   38.281414  12.760471
min    45.000000  60.000000  58.000000       74.000000  173.000000  57.666667
25%    69.250000  67.000000  74.000000       81.250000  206.750000  68.916667
50%    79.000000  74.500000  79.000000       86.500000  228.500000  76.166667
75%    87.250000  85.750000  84.000000       91.000000  261.500000  87.166667
max    90.000000  94.000000  92.000000       95.000000  270.000000  90.000000

In [45]:
#without panadas

In [47]:
items = ['Rice', 'Wheat', 'Milk', 'Eggs', 'Fruits', 'Soap']
quantities = [5, 4, 2, 12, 3, 6]             # quantity in kg, litres, or units
prices = [50, 45, 30, 6, 60, 20]             # price per unit (‚Çπ)

In [53]:
total_prices = []

for i in range(len(items)):
    total = quantities[i] * prices[i]
    total_prices.append(total)
    print(f"{items[i]} ‚Üí {quantities[i]} x ‚Çπ{prices[i]} = ‚Çπ{total}")

Rice ‚Üí 5 x ‚Çπ50 = ‚Çπ250
Wheat ‚Üí 4 x ‚Çπ45 = ‚Çπ180
Milk ‚Üí 2 x ‚Çπ30 = ‚Çπ60
Eggs ‚Üí 12 x ‚Çπ6 = ‚Çπ72
Fruits ‚Üí 3 x ‚Çπ60 = ‚Çπ180
Soap ‚Üí 6 x ‚Çπ20 = ‚Çπ120

In [55]:
total_spent = sum(total_prices)
print(f"\nüí∞ Total spend on groceries: ‚Çπ{total_spent}")

üí∞ Total spend on groceries: ‚Çπ862

In [57]:
max_price = max(total_prices)                        # Highest value
max_index = total_prices.index(max_price)            # Find its position
print(f"\nüèÜ Most expensive item: {items[max_index]} ‚Üí ‚Çπ{max_price}")

üèÜ Most expensive item: Rice ‚Üí ‚Çπ250