In [1]:
#wap to generate a list of 10 integer elements and then perform addition of all these elements 
l=[1,2,3,4,5,6,7,8,9,10]
s=0
for i in l:
    s=s+i
print(s)
   # i=i+1

55

In [3]:
#addition of even elements
l=[1,2,3,4,5,6,7,8,9,10]
s=0
for i in l:
    if(i%2==0):
        s=s+i
print(s)

30

In [5]:
#addition of odd elements
l=[1,2,3,4,5,6,7,8,9,10]
s=0
for i in l:
    if(i%2!=0):
        s=s+i
print(s)

25

In [7]:
l=[1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#update of index
l[4]=79
l

[1, 2, 3, 4, 79, 6, 7, 8, 9, 10]

In [11]:
#Tuple=homo +hetero
t=(10,20,30,40,50)
t

(10, 20, 30, 40, 50)

In [13]:
m=type(t)
print(m)

<class 'tuple'>

In [15]:
m=len(t)
m

5

In [17]:
t[-1]

50

In [19]:
t[3]

40

In [21]:
t[1:4]

(20, 30, 40)

In [23]:
t[3]=57    #we cant update tuple

TypeError: 'tuple' object does not support item assignment

In [25]:
del t[2]             #tuple immutable
t

TypeError: 'tuple' object doesn't support item deletion

In [27]:
t.count(40)

1

In [29]:
t=(10, 20, 30, 40, 50,30,40,20,30)
t.count(30)                #element list me kitni baar hai

3

In [31]:
t.index(20)

1

In [33]:
t=(10, 20, 30, 40, 50,30,40,20,30)
for i in t:
    if(t(i)==20):
        print()

TypeError: 'tuple' object is not callable

In [35]:

                                    #immutabke

In [37]:
t=(10, 20, 30, 40, [50,30,40],20,30)
t[4]=9

TypeError: 'tuple' object does not support item assignment

In [39]:
t=(10, 20, 30, 40, [50,30,40],20,30)
t[5
][1]=9         #tuple me list ho to usme edit ho skta hai but puri list nahi ho sakti
t

TypeError: 'int' object does not support item assignment

In [41]:
t=(10, 20, 30, 40, [50,30,40],20,30)
t[5
]=9

TypeError: 'tuple' object does not support item assignment

In [43]:
#dictionary
d3={1:'Pune',2:'Mumbai',3:'Delhi'}
d3

{1: 'Pune', 2: 'Mumbai', 3: 'Delhi'}

In [45]:
d3.keys()

dict_keys([1, 2, 3])

In [47]:
d3.values()

dict_values(['Pune', 'Mumbai', 'Delhi'])

In [49]:
d3.items()

dict_items([(1, 'Pune'), (2, 'Mumbai'), (3, 'Delhi')])

In [51]:
d3[2]

'Mumbai'

In [53]:
d3[3]='Bangalore'
d3

{1: 'Pune', 2: 'Mumbai', 3: 'Bangalore'}

In [55]:
d3[4]='Nagpur'
d3

{1: 'Pune', 2: 'Mumbai', 3: 'Bangalore', 4: 'Nagpur'}

In [57]:
mydict={1:'one',2:'two','A':['Data','John','Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['Data', 'John', 'Maria']}

In [59]:
mydict['A'][1]

'John'

In [61]:
d3.update({'xyz':'value111'})
d3

{1: 'Pune', 2: 'Mumbai', 3: 'Bangalore', 4: 'Nagpur', 'xyz': 'value111'}

In [63]:
d3.pop(2)
d3

{1: 'Pune', 3: 'Bangalore', 4: 'Nagpur', 'xyz': 'value111'}

In [69]:
d3.popitem()
d3

{1: 'Pune', 3: 'Bangalore', 4: 'Nagpur'}

In [71]:
del d3()
d3

SyntaxError: cannot delete function call (4126946872.py, line 1)

In [77]:
d3.clear()
d3

{}

In [ ]:
#sets

In [81]:
myset1={}

In [83]:
type(myset1)

dict

In [85]:
myset=set()
print(type(myset))

<class 'set'>

In [87]:
len(myset)

0

In [89]:
myset={1,2,3,4,5,6,6,5}
myset                   #no duplicates

{1, 2, 3, 4, 5, 6}

In [95]:
myset1={1.334,212,2.43}
myset1

{1.334, 2.43, 212}

In [97]:
myset.add('9')
myset

{1, 2, 3, 4, 5, 6, '9'}

In [103]:
myset({4})
myset

TypeError: 'set' object is not callable

In [127]:
a={'b','a','c','m'}
a

{'a', 'b', 'c', 'm'}

In [129]:
a.update(['ten','ele','one'])
a                                          #in set only list can be added

{'a', 'b', 'c', 'ele', 'm', 'one', 'ten'}

In [121]:
a.update({'ten')
a

{'a',
 'b',
 'c',
 'e',
 'ele',
 'eleven',
 'l',
 'm',
 'n',
 'o',
 'one',
 't',
 'ten',
 'v'}

In [123]:
a.update('ten','eleven','one')
a

{'a',
 'b',
 'c',
 'e',
 'ele',
 'eleven',
 'l',
 'm',
 'n',
 'o',
 'one',
 't',
 'ten',
 'v'}

In [125]:
a.update({1:'one',2:'two'})
a

{1,
 2,
 'a',
 'b',
 'c',
 'e',
 'ele',
 'eleven',
 'l',
 'm',
 'n',
 'o',
 'one',
 't',
 'ten',
 'v'}