In [9]:
#Factorial Calculator
a=5
b=a*(a-1)*(a-2)*(a-3)*(a-4)
print(b)

120

In [13]:
n=int(input("enter"))
f=1
if(n==0):
    print("1")
elif(n<0):
    print("no factorial")
else:
    for i in range(1,n+1):
        f=f*i
        print(f)
        #print(i)

enter 3

1
2
6

In [15]:
#while loop
i=1
while(i<=10):
    print("Hello")
    i=i+1
print("end")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
end

In [17]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [19]:
i=1
while(i<=10):
    i=i+1
    print(i)

2
3
4
5
6
7
8
9
10
11

In [21]:
#wap to take number from user for a table multiplication
a=int(input("enter"))
for i in range(1,11):
    m=i*a
    print(m)

enter 3

3
6
9
12
15
18
21
24
27
30

In [23]:
#wap to take number from user for a table multiplication
a=int(input("enter"))
for i in range(1,11):
    m=i*a
    print(a ,"*", i, "=" ,m)

enter 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [25]:
#wap to find rectangle area
l=int(input("enter"))
b=int(input("enter"))
a=l*b
print(a)

enter 5
enter 6

30

In [33]:
#wap to find mean,median,mode
a=float(input("enter"))
b=float(input("enter"))
c=float(input("enter"))
d=float(input("enter"))
e=float(input("enter"))
f=float(input("enter"))
sum=a+b+c+d+e+f
avg=sum/6
print(avg)

enter 3
enter 4
enter 5
enter 6
enter 6
enter 5

4.833333333333333

In [40]:
#factorial
n=int(input("enter"))
f=1
i=1
while(i<=n):
    f=f*i
    print(f)
    i=i+1

enter 3

1
2
6

In [42]:
#factorial
n=int(input("enter"))
f=1
i=1
for i in range(1,n+1):
    f=f*i
print(f)

enter 6

720

In [44]:
#factorial
n=int(input("enter"))
f=1
i=1
while(i<=n):
    f=f*i
    i=i+1
print(f)

enter 4

24

In [82]:
#fibonacci
a=0
b=1
for i in range(1,21):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [56]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
for i in range(1,11):
    print(i)
print("end")

1
2
3
4
5
6
7
8
9
10
end

In [60]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [62]:
for i in range(1,10,3):
    print(i)

1
4
7

In [66]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [92]:
for i in list(range(21)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [102]:
n=int(input("enter"))
for i in list(range(1,11,1)):
    i=i*n
    print(i)

enter 4

4
8
12
16
20
24
28
32
36
40

In [100]:
n=int(input("enter"))
for i in list(range(1,n+1,1)):
    print(i)

enter 8

1
2
3
4
5
6
7
8

In [112]:
for i in list(range(1,5,1)):
    print("*")

*
*
*
*

In [159]:
for i in list(range(1,5)):
    print(i*'*')

*
**
***
****

In [191]:
for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*

In [189]:
for i in range(5,0,-1):
    print(i*"hi")

hihihihihi
hihihihi
hihihi
hihi
hi