In [31]:
#Calculate income tax
i=int(input("enter income"))
if(i<=10000):
    t1=10000*0
    print("0 tax",t1)
elif(i>10000 and i<=20000):
    t2=10000*(10/100)
    print("10%",t2)
else:
    t3=(i-20000)*(20/100)+t2
    print("20%",t3)

enter income 45000

20% 6000.0

In [47]:
#Print multiplication table from 1 to 10
n=2
for i in range(1,11):
    t=i*n
    print(t)

2
4
6
8
10
12
14
16
18
20

In [93]:
#Print multiplication table from 1 to 10
for i in range(1,11):
    for j in range(1,11):
         print(i*j,end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [110]:
#Print multiplication table from 1 to 10
for i in range(1,11):
    for j in range(1,11):
         print(i*j)
    print("\t\t")

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [114]:
#Formatted Twinkle Poem
t='''
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are'''
print(t)

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [122]:
#Python Version Checker
import sys
n=sys.version
print(n)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:28:27) [Clang 14.0.6 ]

In [132]:
#Current DateTime Display
import time
t=time.strftime("%H")
print(t)

22

In [138]:
#Reverse Full Name
a="ram kumar"
b="ram"
c="kumar"
print(a[::-1])
print(b[::-1],c[::-1])

ramuk mar
mar ramuk

In [152]:
#First and Last Colors
l=["blue","black","white","pink"]
print(l[0])
print(l[-1])
print(l.index("blue"))

blue
pink
0

In [174]:
# Exam Schedule Formatter
d=(input("enter date"))
m=d.replace(",","/")
print(m)

enter date 12,43,2343

12/43/2343

In [166]:
d = input("Enter date (e.g. 12,04,2025): ")
m = d.replace(",", "/")
print("Formatted date:", m)

Enter date (e.g. 12,04,2025):  12,04,2025

Formatted date: 12/04/2025