In [67]:
a="datamites@gmail.com"
for i in a:
    if(i=='@'):
        break
    print(i)

d
a
t
a
m
i
t
e
s

In [61]:
a = "datamites@gmail.com"

for i in a:
    if i == '@':
        break
    print(i)

d
a
t
a
m
i
t
e
s

In [63]:
#end="" argument. This prevents the print statement from moving to a new line after each character.
a = "datamites@gmail.com"

for i in a:
    if i == '@':
        break
    print(i,end="")

datamites

In [23]:
my_str = input("Enter a string: ")
no_punct = ""
for char in my_str:
    if char not in punctuations:
        no_punct = no_punct + char
print(no_punct)

Enter a string:  Hello!!!, he said ---and went

Hello he said and went

In [1]:
# Sample list of numbers
numbers = [10, 20, 30, 40, 50]
product_of_numbers = 1
for i in numbers:
 product_of_numbers *= i
print("Product of elements in the list:", product_of_numbers)

Product of elements in the list: 12000000

In [3]:
#Write a Python program to Remove empty List from List.

In [25]:
#Write a Python program to display the current date and time
import calendar
print(calendar.month(2025,5))

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [33]:
from datetime import datetime
now = datetime.now().time()
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
1900-01-01 12:26:07

In [35]:
from datetime import datetime
now = datetime.now().date()
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2025-05-06 00:00:00

In [37]:
from datetime import datetime
now = datetime.now().time()
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
1900-01-01 12:27:52

In [39]:
#for 12 hour format
from datetime import datetime

now = datetime.now()
print(now.strftime("Time: %I:%M %p"))

Time: 12:28 PM

In [51]:
#Use functions to return square of numbers from 2 to 5
def square():
    for i in range(2,6):
        sq=0
        sq=i*i
        i+=1
        print(sq)
m=square()
print(m)

4
9
16
25
None

In [71]:
#Write a Python program to calculate number of days between two dates.
#Sample dates : (2014, 7, 2), (2014, 7, 11)

from datetime import datetime

# Sample dates
date1 = (2014, 7, 2)
date2 = (2014, 7, 11)

# Convert the tuples to datetime objects
date1 = datetime(date1[0], date1[1], date1[2])
date2 = datetime(date2[0], date2[1], date2[2])

# Calculate the difference between the two dates
difference = date2 - date1

# Print the number of days
print("Number of days between the dates:", difference)

Number of days between the dates: 9 days, 0:00:00