In [5]:
#create a jupiter notebook as list method contains all list methods with examples
l=[2,3,4,5,6,2,4,24,35,34,78,9,0,88,97,65,44,23,22,23,45]
l.append(2)
l

[2, 3, 3234, 5, 6, 2, 4, 24, 35, 34, 78, 9, 88, 97, 65, 44, 23, 22, 23, 45, 2, 2323, 545]

In [ ]:
l.insert(3,3234)
l
l.extend([2323,545,6465])
l
l.pop()
l
l.pop(2)
l
l.remove(0)
print(l)